html,
body {
	/*	border: 5px solid #ff8a65;*/
	width: 100%;
	height: 100%;
	/*	box-shadow: 0px 5px 20px -10px black;*/
	/*	margin: 10px;*/
}

#mapDIV {
	width: 100%;
	height: 92%;
}

.row,
.col {
	padding: 0;
	position: relative;
}

.card {
	height: 132px;
	width: 100%;
}

.card-content i {
	line-height: 132px;
}

.material-icons.gray {
	color: #424242;
}

nav .nav-wrapper {
	position: absolute;
	top: 0px;
	width: 100%;
	height: auto;
}

.header {
	background-color: #00acc1;
}

.section {
	position: relative;
}

.container {
	margin-top: 100px;
}

.clickable {
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	position: absolute;
	z-index: 1;
}

#searchContainer {
	position: absolute;
	top: 84px;
	right: 20px;
}


/*
.arcgisSearch .searchGroup .searchInput,
.esriSimpleSlider,
.arcgisSearch .searchBtn {
	background-color: #00acc1;
	border: 1px solid #0097a7;
	color: white;
}
*/

.esriPopup .contentPane {
	padding: 0px;
	/*	background: linear-gradient(to bottom, white, #d7ccc8);*/
}

.contentPane img {
	margin-top: 10px;
}

#boreholeContainer {
	display: none;
}

.borehole {
	width: 20px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-left: 38px;
	display: none;
	float: left;
	background-color: white;
	position: relative;
	top: -10px;
}

.drill {
	height: 100%;
	width: 6px;
	margin: auto;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	background-color: #0097a7;
}

.drillHead {
	width: 20px;
	height: 30px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: black;
	margin: auto;
	position: absolute;
	bottom: 0%;
	background: repeating-linear-gradient(45deg, #00acc1, white 10px);
}

#measurementContainer {
	display: none;
}

#tableContainer {
	position: absolute;
	bottom: 0px;
	width: 100%;
	background-color: rgba(178, 235, 245, 0.5);
	display: none;
	overflow-x: auto;
}

thead {
	background-color: rgba(178, 235, 245, 0.7);
	border-bottom: 1px solid #ff8a65;
	transition: background-color 0.5s;
}

thead:hover {
	background-color: rgba(178, 235, 245, 1);
	cursor: pointer;
}

table.highlight>tbody>tr:hover {
	background-color: rgba(255, 138, 101, 0.5);
}

.esriControlsBR {
	display: none;
}

#tableToggleContainer {
	position: absolute;
	bottom: 10px;
	left: 0px;
	z-index: 999;
}

#geologyToggleContainer {
	position: absolute;
	bottom: 10px;
	z-index: 999;
	right: 0px;
}

.esriPopup .titlePane {
	background-color: #00acc1;
}

#map_infowindow.simpleInfoWindow {
	border: 2px solid #ff8a65;
	background-color: #0097a7;
}

#scaleAlert {
	position: absolute;
	bottom: 45px;
	right: 4px;
	display: none;
	font-size: 12px;
	color: gray;
}